body, h1, ul {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #23408E;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.current-weather {
        background-color: #6ec0b5;
        color: #fff;
        text-align: center;
        padding: 20px;
    } 


.current-city {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    position: relative;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.search-box, .search-history {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid #7f77c9;
    padding: 50px;
    box-sizing: border-box;
}

.forecast-item {
    background-color: #6e8ac7;
}


.sidebar {
    width: 30%;
    float: left;
    padding: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.content {
    width: 70%;
    float: left;
    padding: 20px;
}

.search-history {
    list-style-type: none;
    padding: 0;
}

.search-history li {
    margin-bottom: 10px;
}

